@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    min-height: 100vh;
}

body {
    background: url(../img/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 308px;
    height: 622px;
    background: url(../img/frame-iphone.png) center center no-repeat;
    background-size: cover;
}

#iscreen {
    width: 264px;
    height: 467px;
    position: absolute;
    top: 79.5px;
    left: 22px;
}

.social-media {
    position: absolute;
    right: 0;
}

.social-media img{
    display: block;

    margin: 10px;
    width: 80px;
    border-radius: 50%;

    border: solid 2px transparent;
    transition: border 0.09s ease-in-out, transform 0.09s ease-out;
}

.social-media img:hover {
    border: solid 2px white;
    transform: scale(1.08);
}

.social-media img:active {
    transform: scale(1);
}

.social-media a {
    display: block;
    width: fit-content;
    border-radius: 50%;
}